body{
    font-family: 'Azeret Mono', monospace;
    font-weight: 400;
    background-color: #F6F5F3
}

.navbar{z-index: 1;
    position: relative;
    }



header{
    background-image: url(../images/pexels-photo-1405761.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;    
}

.btn1{ margin-right: 6%;}
h1 {
    font-family: 'Amiri', serif;
    font-weight: 700;
    margin-top: 30%;
} 

.intro  button{margin-top: 5%;}


section{
    background-color: #F6F5F3;
} 

h2{padding-top: 20%;
padding-left: 5%;
font-family: 'Miltonian Tattoo', cursive;
 font-size: 40px; 
}

.a1 {
font-family: 'Miltonian Tattoo', cursive;
font-weight: bold;
font-size: 60px;

} 

button{border: 1px solid #EFEFEF;}

.btn2{
    margin-top: 50%;
}

.image:hover{
   
    animation-name: myanimation;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes myanimation{
    100%{ border-radius: 50% 50% 0% 0%;}
}
.p1{
    font-family: 'Miltonian Tattoo', cursive;
   font-size: 30px;
   color: black;
}
.first{ text-decoration: none;}


.second{background-color: #E3DED7;}

.p2{
font-size: 13px;
margin-top: 20px;
color: black;
}


.second1{background-color: #E3DED7;}
.second1:hover{
    background-color:#698066 ;
}

.second2{background-color: #E3DED7;}
.second2:hover{
    background-color:#CBD3DA ;
}
.second3{background-color: #E3DED7;}
.second3:hover{
    background-color:#AEC7AA ;
}
.s1{font-family: 'Besley', serif;}


footer{
    border-top: black 1px solid;
    background-color:#E3DED7 ;

}
h5{ font-family: 'Miltonian Tattoo', cursive;
    font-weight: 700;}

.table li a{
    text-decoration: none;
    color: black;
}
.table li{
    list-style-type: none;
    margin-bottom: 9px;
}
    
 input{background-color:#E3DED7 ;}

 .d1{
     margin-top: 170px;
 }
 .footer-links a{
     text-decoration:none;
     color: black;
 }